import requests
from dataclasses import dataclass

while True:
#---------------------------------------------------------------------------------------------------------------------------------------------------#

    #Classes :

    @dataclass
    class Time:
        codigo: str
        nome: str
        
    @dataclass
    class Jogador:
        nome_jogador: str
        time: Time

    @dataclass
    class Gol:
        jogador: Jogador
        minuto: int
        def __repr__(self) -> str:
            return self.jogador + " " + str(self.minuto)

    @dataclass
    class Partida:
        data: str
        hora: str
        estadio: str
        cidade: str
        mandante: Time
        visitante: Time
        gols_mandante: int
        gols_visitante: int
        gols: list[Gol]

        #Funções para ser utilizados por elementos dessa classe
        def contem(self, codigo_time: str) -> bool:
            return self.mandante == codigo_time or self.visitante == codigo_time

        def __repr__(self) -> str:
                return (
                    self.mandante + " " + str(self.gols_mandante) 
                        + " X " 
                        + str(self.gols_visitante) + " " + self.visitante)


    #--------------------------------------------------------------------------------------------------------------------------------------------------#

    # Listas / Dicionario:


    JOGOS:list[Partida] = []
    GRUPOS: list[dict] = []
    FASES: list[dict]= []


    #----------------------------------------------------------------------------------------------------------------------------------------------------#

    def getDados():
        
        enderecoAPI: str = "https://raw.githubusercontent.com/leandroflores/api-world-cup/main/results_2018"
        requisitando_API= requests.get(enderecoAPI)
        dados = requisitando_API.json()

        rodadas = dados["rounds"]

        for rodada in rodadas:
            partidas = rodada["matches"]

            for partida in partidas:

                numero = partida["num"]
                tempo = partida["time"]
                data = partida["date"]
                mandante = partida["team1"]["code"]
                visitante = partida["team2"]["code"]
                gols_mandante = partida["score1"]
                gols_visitante = partida["score2"]
                estadio = partida["stadium"]["name"]
                cidade = partida["city"]

                gols: list[Gol] = []

              
                total_gols: list[dict] = partida["goals1"] + partida["goals2"]
               

                for gol in total_gols:
                    gols.append(
                        Gol(gol["name"], gol["minute"])
                    )

                if "group" in partida:
                    grupo = partida["group"]
                    
                    partida: Partida = Partida(
                    data,
                    tempo,
                    estadio,
                    cidade,
                    mandante,
                    visitante,
                    gols_mandante,
                    gols_visitante,
                    gols,

                )
                    partidaGrupo = partida
                    GRUPOS.append({
                        "Grupo": grupo,
                        "Partida": partidaGrupo
                    })
            
                

                        


                partida: Partida = Partida(
                    data,
                    tempo,
                    estadio,
                    cidade,
                    mandante,
                    visitante,
                    gols_mandante,
                    gols_visitante,
                    gols,

                )
                JOGOS.append(partida)

                
                #GRUPOS.append({
                #    "Grupo": grupo,
                #    "Partida": partida
                #})

        #------------------------------------------------------------------------------------------------------------------------------------------       

                fase = rodada["name"]
                FASES.append({
                    "Fase": fase,
                    
                })

                

                


    def get_partidas_tradicional() -> list[Partida]:
        partidas_time: list[Partida] = []
        for partida in JOGOS:
            if partida.contem(partida) :
                partidas_time.append(partida)
                
        return partidas_time

    def get_partidas_com_filter(codigo_time: str) -> list[Partida]:
        partidasFiltradas: list = list()
        
        filtro = filter(
                lambda time: time.contem(codigo_time), 
                JOGOS
            )
        lista_filtrada = list(filtro)
        if filtro not in lista_filtrada:
            partidasFiltradas.append(lista_filtrada)
        elif filtro in lista_filtrada:
            partidasFiltradas.pop(lista_filtrada)
            

        return partidasFiltradas
            
        
    def getfases() :
        
        

        for i in FASES:

            valor =i["Fase"]
            
            if valor[:8] == f"Matchday":
                pass
            else:
                print(i)

            
                
    def getGrupo ():
        for x in GRUPOS:
            print(x)
            
                
            
            
                

            
                    
                
        
        

        
        

    def pegandoGols(nome_jogador: str) -> list[Gol]:
        
        golsJogador: list[dict] = []
        
        for partida in JOGOS:
            for gol in partida.gols:
                if gol.jogador == nome_jogador:
                    golsJogador.append(
                        {
                            "gol": gol,
                            "partida": partida,
                        }       

                    )
        return golsJogador
                
                
                    
                    

                    
    if __name__ == "__main__":

       
        
        getDados()

        escolha = int(input("Escolha uma função:\n"))
        
        if escolha ==1:
            print(JOGOS)
        
        elif escolha ==2:
            nomeJogador:str = input("Digite o nome do jogador:\n")

            nomeJogador = nomeJogador.capitalize()

            getJogador = pegandoGols(nomeJogador)
            

            if len(getJogador) == 0 :
                print("Erro")
            else:
                print(getJogador)    

        elif escolha == 3:
            codTime: str = input("Digite o codigo do time:\n")

            codTime = codTime.upper()

            res = get_partidas_com_filter(codTime)
            
            print(res)
        
        elif escolha == 4:
            codTime: str = input("Digite o codigo do time:\n")
            codTime = codTime.upper()
            resposta =get_partidas_tradicional()
            print(resposta)
        
        elif escolha == 5:
            getGrupo()
            print(len(GRUPOS))



        elif escolha == 6:
            getfases()
            


        elif escolha == 9:
            break
            
            